
@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@model Web_MVC.Models.Category

<!--Content Header-->
<div class="content-header">
    <h1>
        Categories
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="../../Categories/Index">Categories</a></li>
        <li class="active"><a href="../../Categories/Index">Edit</a></li>
    </ol>
</div>

<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Edit categories</h3>

                    <div class="pull-right box-tools">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                </div>

                @using (Html.BeginForm())
                {
                    <div class="box-body">
                        <div class="form-group">
                            <label>Category name</label>
                            <input type="text" class="form-control" name="categoryname" value="@Model.Name" placeholder="Enter category name">
                        </div>
                        <div class="form-group">
                            <label>Parent category</label>
                            <input type="number" class="form-control" name="parentcategory" value="@Model.Parent" placeholder="Select the parent category">
                        </div>
                    </div>
                        <!-- /.box-body -->
                        <div class="box-footer">
                            <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                }
            </div>
        </div>
    </div>
</div>

