
@{
    ViewBag.Title = "Search";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<!--Content Header-->
<div class="content-header">
    <h1>
        Author
    </h1>
    <ol class="breadcrumb">
        <li><a href="~/Admin/Categories/Create"><i class="fa fa-dashboard"></i>Home</a></li>
        <li><a href="~/Admin/Author/Create">Author</a></li>
        <li><a href="~/Admin/Author/Create">Search</a></li>
    </ol>
</div>

<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Search results Author</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                    <div class="box-body">
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Author id</th>
                                    <th>Author name</th>
                                    <th>Author address</th>
                                    <th style="text-align:center;">Option</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.Id</td>
                                        <td>@item.Name</td>
                                        <td>@item.Address</td>
                                        <td>
                                            <div class="tools" style="text-align:center;">
                                                <a href="~/Admin/Author/Edit/@item.Id"><i class="glyphicon glyphicon-edit" data-toggle="tooltip" title="Edit"></i></a>
                                                <a onclick="return confirm('Bạn có muốn xóa không?')" href="~/Admin/Author/Delete/@item.Id"><i class="glyphicon glyphicon-trash" data-toggle="tooltip" title="Delete"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



